/*********** Global ****************************/

:root {
  /* Use :root variable to save time changing colours */
  --blackcoffee: #333333;
  --misty-rose: #f1dede;
  --rich-black: #000103;
  --pinky-red: #ed474a;
}

body {
  font-family: "Questrial", sans-serif; /* link google fonts to style page */
  background-color: var(--blackcoffee);
}

main {
  display: flex;
  flex-direction: column;
}

p {
  color: var(--misty-rose);
  font-size: 1rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--misty-rose);
}

/* Give global properties for every subheading */
h3 {
  text-align: center;
  text-decoration: underline;
  font-size: 1.2rem;
  background-color: var(--rich-black);
  border-radius: 8px;
  width: 80%;
  margin: 0 auto 1.5625rem;
  padding: 0.3125rem 0;
  color: var(--misty-rose);
}

/*********** Header ****************************/

header {
  padding: 0.5rem 0.5rem;
  width: 100%;
  position: fixed; /* Keep header stuck to the top */
  background-color: var(--blackcoffee);
  border-bottom: 3px solid var(--rich-black);
  z-index: 100; /* bring header to the front */
}

.page-title {
  font-size: 2.5rem;
  color: var(--misty-rose);
  display: inline-block;
  background-color: var(--rich-black);
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
}

#hamburger-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;

}

.nav-links {
  display: none;
}

#toggle-hamburger {
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 2rem;
  color: var(--misty-rose);
  background-color: black;
  padding: 4px 8px;
  border-radius: 6px;
}


/* show-nav-links class is toggled when hamburger menu is clicked */
.show-nav-links {
  display: block;
  height: 250px;
}


nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 0.1rem;
}

nav ul li {
  border-radius: 0.3rem;
  background-color: var(--rich-black);
  font-size: 1rem;
  line-height: 1.2;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
}

nav ul li:hover {
  background: var(--pinky-red);
  color: var(--rich-black);
  /* create a hover effect for the links */
  box-shadow: 0 0.5em 0.5em -0.4em var(--rich-black);
  transform: translateY(-0.2em);
}

.navbar-darkmode {
  background-color: black;
}

/*********** Hero ****************************/

.hero {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  margin-bottom: 1.5625rem;
  border-bottom: 3px solid var(--rich-black);
  background-image: url("https://images.unsplash.com/photo-1572470562861-fdec5e26bec2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
  display: flex;
  /* bring subtitle to the bottom right of the image */
  justify-content: flex-end;
  align-items: flex-end;
}

.hero .subtitle {
  color: white;
  width: 21.875rem;
  font-size: 1.2rem;
  padding: 0.625rem;
  background-color: var(--rich-black);
  border-radius: 0.5rem 0.5rem 0 0;
  margin: 0 4.6875rem;
  text-align: center;
}

/*********** Main ****************************/

/* Style the 'about me' section */
.about-container {
  display: flex;
  flex-direction: column;
}

.about-image {
  width: 80%;
  margin: 0 auto 1.5625rem;
  border-radius: 25%;
  border: 5px solid var(--rich-black);
}

.about-text {
  margin: 0 0.625rem 1.5625rem 0.625rem;
}

/* Place 'work' section in a CSS Grid */
#work-grid {
  /* take the mobile first approach to responsive design */
  display: grid;
  margin: 0 5% 1.5625rem;
  height: 150vh;
  min-height: 600px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "project1"
    "project1"
    "project2"
    "project3"
    "project4"
    "project5";
}

#project1 {
  /* weekly blog */
  grid-area: project1;
  background-image: url("../images/blog.png");
}

#project2 {
  /* productive programming */
  grid-area: project2;
  background-image: url("../images/productive-programming.png");
}

#project3 {
  /* favourite music dashboard */
  grid-area: project3;
  background-image: url("../images/music-dashboard.png");
}

#project4 {
  /* article summariser */
  grid-area: project4;
  background-image: url("../images/article-summariser.png");
}

#project5 {
  /* password generator */
  grid-area: project5;
  background-image: url("../images/password-gen.jpg");
}

.work-grid-area {
  /* style each area of the grid */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0.3125rem;
  cursor: pointer; /* make it evident that each area is a link */
  justify-content: end;
  display: grid;
  align-content: end;
  border: 5px solid var(--rich-black);
  border-radius: 8px;
}

/* make areas grow in size when you hover over the element */
.work-grid-area:hover {
  transform: scale(1.005);
  opacity: 0.8;
}

.heading {
  /* style area headings to fit with look of page */
  background-color: var(--rich-black);
  color: var(--misty-rose);
  padding: 0.625rem;
  height: 2.1875rem;
  border-radius: 8px 0 0 8px;
  font-size: 1.125rem;
  margin-bottom: 0.9375rem;
}

/* Use flex box to organise 'contact me' content */

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5625rem;
}

.margin {
  margin-bottom: 0.625rem; /* separate text from 'icon' anchor element */
}

.underline {
  text-decoration: underline; /* underline phone number */
}

.contact-info {
  background-color: var(--rich-black);
  padding: 0.9375rem 0.625rem;
  width: 11.25rem;
  border-radius: 0.5rem;
  margin-bottom: 1.25rem;
}

.icon {
  width: 50%;
  height: 50%;
  cursor: pointer;
}

.icon:hover {
  /* give icons a hover effect */
  opacity: 0.7;
}

.block {
  background-color: var(--rich-black);
  padding: 0.6rem;
  border-radius: 50%;
}

/* Style separate html page for resume anchor link */
.container {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.resume-heading {
  color: var(--misty-rose);
  font-size: 4rem;
  background-color: var(--rich-black);
  display: inline-block;
  padding: 0.7rem;
  border-radius: 8px;
  text-align: center;
}

/*********** Footer ****************************/

.footer-image {
  width: 100%;
  height: 150px;
  background-image: url("https://images.unsplash.com/photo-1572470562861-fdec5e26bec2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
  border-top: 5px solid var(--rich-black);
  background-size: cover;
  background-position: center;
}

/*********** Media Queries ****************************/

/* mobile first approach to responsive design */
@media screen and (min-width: 768px) {
  h3 {
    /* set h3 properties globally at min width of 768px */
    display: inline-block;
    width: 29%;
    margin-left: 1%;
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .page-title {
    font-size: 2.6rem;
  }

  .hero .subtitle {
    font-size: 2rem;
  }

  .about-image {
    width: 90%;
  }

  .about-container {
    width: 70%;
    float: right;
    border-left: 5px solid var(--rich-black);
  }

  .about-text {
    margin: 0 1.875rem 1.5625rem 3.125rem;
  }

  #work-grid {
    /* change grid layout for better use of the available space */
    width: 70%;
    float: right;
    border-top: 5px solid var(--rich-black);
    border-left: 5px solid var(--rich-black);
    margin: 0;
    padding: 1.25rem;
    height: 130vh;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "project1 project1"
      "project1 project1"
      "project2 project3"
      "project4 project5";
  }

  .heading {
    font-size: 1.5rem;
    height: 2.5rem;
  }

  .contact-container {
    width: 70%;
    float: right;
    flex-direction: row;
    gap: 0;
    border-top: 5px solid var(--rich-black);
    border-left: 5px solid var(--rich-black);
    justify-content: space-evenly;
  }

  .contact-info {
    width: 8.5rem;
    margin: 1.5625rem 0;
  }

  .block {
    padding: 0.8rem;
  }
}

@media screen and (min-width: 992px) {
  h3 {
    width: 19%;
  }

  .page-title {
    font-size: 3.3rem;
  }

  /* .nav {
    padding: 0.625rem;
  }

  nav ul {
    gap: 0.75rem;
  }

  nav ul li {
    font-size: 1.15rem;
  } */

  .hero .subtitle {
    font-size: 3rem;
  }

  .about-container {
    width: 80%;
    flex-direction: row;
    align-items: center;
  }

  .about-image {
    width: 55%;
    margin-left: 1.25rem;
  }

  #work-grid {
    width: 80%;
  }

  .contact-container {
    width: 80%;
  }
}

@media screen and (min-width: 1150px) {
  .about-text {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1600px) {
  .about-text {
    font-size: 1.4rem;
  }
}
