/*********** Global ****************************/

:root {
  --blackcoffee: #333333;
  --misty-rose: #f1dede;
  --rich-black: #000103;
  --pinky-red: #ed474a;
}

body {
  font-family: "Questrial", sans-serif;
  background-color: var(--blackcoffee);
}

a {
  text-decoration: none;
  color: var(--misty-rose);
}

a:hover {
  color: var(--rich-black);
}

h3 {
  text-align: center;
  text-decoration: underline;
  font-size: 1.2rem;
  background-color: var(--rich-black);
  border-radius: 8px;
  width: 80%;
  margin: 0 auto 25px;
  padding: 5px 0;
  color: var(--misty-rose);
}

/*********** Header ****************************/

header {
  padding: 0.5rem 0.5rem;
  width: 100%;
  position: fixed;
  background-color: var(--blackcoffee);
  border-bottom: 3px solid var(--rich-black);
}

.page-title {
  font-size: 2.5rem;
  color: var(--misty-rose);
  display: inline-block;
  background-color: var(--rich-black);
  padding: 8px 12px;
  border-radius: 8px;
}

nav {
  display: flex;
  float: right;
  width: 45%;
  margin-top: 6px;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 0.1rem;
}

nav ul li {
  border-radius: 0.3rem;
  background-color: var(--rich-black);
  font-size: 1rem;
  line-height: 1.2;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
}

nav ul li:hover {
  background: var(--pinky-red);
  color: var(--rich-black);
  box-shadow: 0 0.5em 0.5em -0.4em var(--rich-black);
  transform: translateY(-0.2em);
}

/*********** Hero ****************************/

.hero {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  margin-bottom: 1.5625rem;
  border-bottom: 3px solid var(--rich-black);
  /*background-image: url("https://images.unsplash.com/photo-1513363136477-3efb163fd99d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1798&q=80");*/
  /* background-image: url("https://images.unsplash.com/photo-1516320654132-c3a74da4da5b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");*/
  background-image: url("../images/hero-image.avif");
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero .subtitle {
  color: white;
  width: 21.875rem;
  font-size: 1.2rem;
  padding: 0.625rem;
  background-color: var(--rich-black);
  border-radius: 0.5rem 0.5rem 0 0;
  margin: 0 4.6875rem;
  text-align: center;
}

/*********** Main ****************************/

.about-image {
  width: 80%;
  margin: 0 auto;
  display: block;
  border-radius: 25%;
  border: 5px solid var(--rich-black);
}

/*********** Media Queries ****************************/

@media screen and (min-width: 768px) {

  .page-title {
    font-size: 2.6rem;
  }

  .hero .subtitle {
    font-size: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .page-title {
    font-size: 3.3rem;
  }

  .nav {
    padding: 10px;
  }

  nav ul {
    gap: 0.75rem;
  }

  nav ul li {
    font-size: 1.15rem;
  }

  .hero .subtitle {
    font-size: 3rem;
  }
}
